{% extends "base.html" %}

{% block content %}

<section class="auth">

    <div class="form-card">

        <span class="eyebrow">
            GET STARTED
        </span>

        <h1>
            Create account
        </h1>

        <div
            id="message"
            class="message"
            hidden
        ></div>

        <form id="register-form">

            <div class="field">

                <label>
                    Username
                </label>

                <input
                    name="username"
                    minlength="3"
                    required
                >

            </div>


            <div class="field">

                <label>
                    Email
                </label>

                <input
                    name="email"
                    type="email"
                    required
                >

            </div>


            <div class="field">

                <label>
                    Password
                </label>

                <input
                    name="password"
                    type="password"
                    minlength="6"
                    required
                >

            </div>


            <div class="form-actions">

                <button
                    class="button"
                    type="submit"
                >
                    Create account
                </button>

            </div>

        </form>

    </div>

</section>

{% endblock %}